<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hobocat.mapper.UserMapper" >

	<!-- 定义商品查询的sql片段，就是商品查询条件 -->
	<sql id="query_user_where">
		<!-- 使用动态sql，通过if判断，满足条件进行sql拼接 -->
		<!-- 商品查询条件通过ItemsQueryVo包装对象 中itemsCustom属性传递 -->
			<if test="user!=null">
				<if test="user.user_name!=null and user.user_name!=''">
					user.user_name LIKE '%${user.user_name}%'
				</if>
			</if>

	</sql>

		<!-- 商品列表查询 -->
		<!-- parameterType传入包装对象(包装了查询条件)
			resultType建议使用扩展对象
		-->
		<select id="findUserList" parameterType="cn.hobocat.model.User"
			resultType="cn.hobocat.model.User">
			SELECT * FROM user
			<where>
				<include refid="query_user_where"></include>
			</where>
		</select>

</mapper>