<beans xmlns="http://www.springframework.org/schema/beans"
			xmlns:context="http://www.springframework.org/schema/context"
			xmlns:mvc="http://www.springframework.org/schema/mvc"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

		<!-- 加载db.properties文件中的内容，db.properties文件中key命名要有一定的特殊规则 -->
		<context:property-placeholder location="classpath:jdbc.properties" />
		<!-- 配置数据源 ，dbcp -->

		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
				<property name="driverClassName" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="maxActive" value="30" />
				<property name="maxIdle" value="5" />
		</bean>

		<!-- 从整合包里找，org.mybatis:mybatis-spring:1.2.4 -->
		<!-- sqlSessionFactory -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
				<!-- 数据库连接池 -->
				<property name="dataSource" ref="dataSource" />
				<!-- 加载mybatis的全局配置文件 -->
				<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml" />
				<!-- 自动扫描需要定义类别名的包，将包内的JAVA类的类名作为类别名 -->
         <property name="typeAliasesPackage" value="cn.hobocat.model"></property>
		</bean>
	<!-- 自动扫描所有的Mapper接口与文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.hobocat.mapper"></property>
	</bean>
		<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  

</beans>